<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ "/pages/ocala/usage.ja.html" | relative_url }}">使用方法</a>
        <a class="page-link" href="{{ "/pages/ocala/guide.ja.html" | relative_url }}">概説</a>
        <a class="page-link" href="{{ "/pages/ocala/examples.ja.html" | relative_url }}">コード例</a>
        <a class="page-link" href="{{ "/pages/ocala/misc.ja.html" | relative_url }}">詳細</a>
        <a href="https://github.com/maokij/ocala">GitHub</a>
      </div>
    </nav>
  </div>
</header>

