---
---

$content-width: 960px;

@import "{{site.theme}}";

span.code {
  font-family: monospace, serif;
  background-color: #eee;
  display: inline-block;
  border: solid #ccc 1px;
  padding: 0 0.2rem;
  margin: 0 0.2rem;
  border-radius: 3px;
}

div.hint {
  border: solid #a80 2px;
  background-color: #ffd;
  color: #a80;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
}

img.screenshot {
  display: inline-block;
  width: 768px;
  height: auto;
  image-rendering: pixelated;
  margin-bottom: 1rem;
}
